<h2> Gerenciador de Clientes</h2>
<table class = "table table-striped">
    <thead>
        <tr>
            <th>ID</th>
            <th> Nome </th>
            <th> CPF/CNPJ </th>
            <th> Endereço </th>
            <th> Número </th>
            <th> Bairro </th>
            <th> CEP </th>
            <th> Cidade </th>
            <th> UF </th>
            <th> Telefone </th>
            <th> Email </th>
            <th> Status</th>
            <th> Alterar </th>

        </tr>
    </thead>
    <tbody>
        <tr *ngFor = "let case of cases">
             
            <td>{{ case.id }}</td>
            <td> {{ case.name }} </td>
            <td> {{ case.cpfCnpj }} </td>
            <td> {{ case.endereco }} </td>
            <td> {{ case.numero }} </td>
            <td> {{ case.bairro }} </td>
            <td> {{ case.cep }} </td>
            <td> {{ case.cidade }} </td>
            <td> {{ case.uf }} </td>
            <td> {{ case.telefone }} </td>
            <td> {{ case.email }} </td>
            <td>
                <button (click) = "updateStatus(case.id)" class = "btn btn-info"> Status</button>
            </td>

            <td>
                <button (click) = "updateCase(case.id)" class = "btn btn-info"> Alterar</button>
            </td>
           

        </tr>
    </tbody>

</table>